                            /****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, .euro {
    font-weight: 700;
}

        /*** Pour les cartes hébergements et les plus populaires ***/

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-subtitle {
    font-size: 0.875rem;
}

.neutral-star {
    color: var(--main-bg-color)
}


                        /***** <header> *****/

header {
    margin-bottom: 30px;
}
.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}
.header__logo {
    padding: 30px 0;
    height: 19px;
    width: auto;
    cursor: default;
    box-sizing: content-box;
}
.header__nav-bar {
    padding-top: 0;
    margin-top: 0;
    display: flex;
    list-style: none;
    gap: 68px;
    margin-bottom: 0;
}
.header__nav-bar__nav-button {
    padding-top: 16px;
}
.header__nav-bar__nav-button:hover {
    padding-top: 14px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}



                        /***** <Main> *****/

                    /**** Info-group ****/

.info-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 35px;
}


            /*** Headline ***/

h1 {
    font-size: 1.375rem;
    margin-bottom: 0;
}

.headline__prg {
    margin-top: 8px;
}


            /*** Barre de recherche ***/

form {
    display: flex;
}

/* Label with the icon */
.search-bar__location {
    display: flex;
    align-items: center;
    padding: 16px 18px 16px 18px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.location-icon {
    color: black;
}

/* Input */
#location-city {
    font-weight: 700;
    text-align: center;
    border: 1px solid #F2F2F2;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.125rem;
}

input:focus {
    outline: none;
}

/* Search button part */
.search-bar__search-button {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    pointer-events: none;
}

.search-bar__search-button__text {
    font-weight: 700;
    font-size: 1.125rem;
}

#search-button__icon {
    color: white;
    display: none;
}

            /*** Section Filtres ***/

.filters-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filters-section__title {
    font-size: 1.125rem;
}

.filters-section__filters-buttons {
    display: flex;
    gap: 15px;
}

.filter-button {
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.0625rem;
}
.filter-button:hover {
    background-color: #DEEBFF;
}

.filter-button__icon {
    width: 22px;
    font-size: 1.125rem;
}

.filter-button__text {
    display: inline-block;
    padding: 10px 0 10px 10px;
    font-weight: 700;
}

            /*** Barre info ***/

.info-bar {
   display: flex;
   gap: 10px;
}

.info-bar > i {
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
}

.info-bar__text {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


                    /**** Hebergements And Populaires ****/

.lodging-and-populars {
    display: flex;
    justify-content: space-between;
}
.lodging-and-populars section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    
}

            /*** Hebergements ***/

.lodging {
    width: 65%;
}

.lodging-cards__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging-cards__bloc {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    gap: 30px; 
}

.lodging .section-title {
    margin-bottom: 30px;
}

.lodging-cards__bloc a {
    flex-grow: 1;
    flex-basis: 0;
}

.lodging-cards__bloc__card {
    margin: auto;
}

.lodging-cards__bloc img {
    width: 100%;
    max-width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lodging-cards__container .card-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lodging-cards__container .card-title {
    margin-top: 8px;
    
    
}

.see-more {
    font-weight: 700;
    font-size: 1.125rem;
}


            /*** Populaires ***/

.populars {
    width: 32%;
}

.populars-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populars-cards article {
    display: flex;
    margin-top: 33px;
}

.populars-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populars-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populars-cards .card-subtitle {
    margin: 0;
}

.populars-cards .card-rating {
    margin-bottom: 5px;
}

                    /**** Activités ****/

.activities {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    margin-top: 35px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activities-cards a {
    flex-basis: 0;
    flex-grow: 1;
}
.activities-cards figure {
    height: 439px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

figcaption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-left: 19px;
    padding-right: 19px;
}

.activities-cards img {
    border-radius: 20px 20px 0 0;
    height: 380px;
    object-fit: cover;
    width: 100%;
}

.activities h2 {
    margin: 0;
}


                        /***** Footer *****/

footer {
    margin-top: 35px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-compartiments h3 {
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-compartiments {
    width: 100%;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media only screen and (min-width: 1025px) and (max-width: 1213px) {

    .lodging-cards__bloc__card .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px;
    }
}

/***** Medium devices (tablets, less/equal than 1024px) *****/
@media (max-width: 1024px) {

    /* Filtres */

    .filters-section {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        gap: 20px;
    }

    .filters-section__filters-buttons {
        gap: 0.78rem;
    }

    .filter-button {
        font-size: 1rem;
    }

    /* Hébergements and populaires */

    .lodging-and-populars {
        flex-direction: column;
    }

    .lodging {
        width: 100%;
    }

    .populars {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 35px;
    }

    .populars-title {
        margin-bottom: 33px;
    }

    .populars-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populars-cards a {
        width: 30%;
    }

    .populars-cards article {
        margin-top: 0;
    }

    .populars-cards .card-title {
        font-size: 0.875rem;
    }

    .populars-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    /* Activités */

    .activities {
        margin-top: 0;
    }

    .activities-cards figure {
        height: 270px;
    }

    .activities-cards img {
        height: 200px;
        
    }

    .activities-cards__title {
        font-size: 0.95rem;
    }

    .activities-cards figcaption {
        height: 70px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .filter-button {
        padding: 4px 19px;
        font-size: 1.06rem;
    }

    .filter-button__text {
        font-size: 0.9815rem;
    }
}

@media only screen and (min-width: 767.99px) and (max-width: 823px) {

    .lodging-cards__bloc__card .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px;
    }
}

/***** Small devices (phones, less than 768px) *****/
@media (max-width: 767.98px){

                        /*** General ***/

    body {
        width: auto;
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

                    /*** Header ***/

    header {
        margin-bottom: 0;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        padding-right: 0;
    }

    .header__nav-bar, .header__nav-bar__nav-button {
        width: 100%;
    }

    .header__nav-bar {
        padding-left: 0;
        text-align: center;
        gap: 0;
    }

    .header__nav-bar__nav-button {
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 2px solid #F2F2F2;
    }

    .header__nav-bar__nav-button:hover {
        border-bottom: 2px solid Blue;
        border-top: none;
        padding: 0;
    }

                    /*** Main ***/


                /** Info-group **/

    .info-group {
        padding: 20px;
        gap: 35px;
        margin: auto;
    }

            /* Barre recherche */
    
    form {
        flex-direction: row;
    }

    #search-button__icon {
        display: initial;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        font-size: larger;
    }

    .search-bar__search-button__text {
        display: none;
    }

    #location-city {
        text-align: start;
        padding-left: 24px;
        flex: 1 1 0;
        min-width: 150px;
        font-size: 1rem;
    }

    .search-bar__search-button {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 15px 16px 15px 16px;
        margin-left: -15px;
    }

            /* Filtres */

    .filters-section__filters-buttons {
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        row-gap: 20px;
    }

    .filter-button {
        flex: 1;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 19px;
        justify-content: flex-start;
        gap: 10px;
    }

    .filter-button__text {
        font-size: 0.880rem;
        padding: 10px 0 10px 0;
    }

    .filter-button__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 100%;
    }

                /** Hebergements et populaires **/

    .lodging-and-populars {
        flex-direction: column-reverse;
        gap: 15px
    }
    
            /* Populaires */

    section.populars {
        border-radius: 0;
        padding: 30px 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .populars-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populars-cards .card-title {
        font-size: 1rem;
    }

    .populars-cards a {
        width: 100%;
    }

            /* Hébergements */

    section.lodging {
        border-radius: 0;
        background-color: #FFFFFF;
        padding: 20px;
        margin-top: 0px;
    }

    .lodging-cards__container {
        flex-direction: column;
    }

    .lodging-cards__bloc {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px
    }

    .lodging > .section-title {
        margin-bottom: 15px;
    }

    .see-more {
        margin-top: 15px;
    }

                /** Activités **/

    .activities {
        margin-top: 35px;
    }

    .activities-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards img {
        height: 141px;
    }

    .activities-cards figure {
        height: 200px;
    }

                    /*** Footer ***/

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-compartiments {
        padding: 0;
    }
        
}

@media (min-width: 496px) and (max-width: 700px) {
    .filter-button {
        flex: 1 0 48%;
    }
}

@media (max-width: 364px) {
    .filter-button {
        padding: 0 12px;
        gap: 5px;
    }

    .filter-button__icon-container {
        font-size: 15px;
    }

    .filter-button__text {
        font-size: 13px;
        padding: 10px 0 10px 0;
    }
}